* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#site_main {
    background-color: blue;
    color: white;
    text-align: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin: 0 auto;
    justify-content: center;
}

.square {
    width: 40px;
    height: 40px;
    color: black;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg_normal {
    background-color: aqua;
}

.bg_3 {
    background-color: green;
}

.bg_5 {
    background-color: yellow;
}

.bg_35 {
    background-color: red;
}